$smaller-spacing-unit: 0.25rem;
$small-spacing-unit: 0.5rem;
$spacing-unit: 1rem;
$large-spacing-unit: 2rem;
$larger-spacing-unit: 4rem;

$smaller-font-size: 0.8rem;
$small-font-size: 1rem;
$btn-font-size: 1.1rem;
$medium-font-size: 1.5rem;
$large-font-size: 2rem;
$larger-font-size: 3rem;

$header-clr: #132238;
$table-header-clr: #424E60;
$primary-clr: #A53DFF;
$primary-hover-clr: #7B61FF;
$white-text-clr: #FFF;
$white-background: #FFF;
$paragraph-color: #556070;
$table-element-background: #e2e8f8;
$section-text-clr: #87909D;
$card-border-clr: #e5e8eb;
$footer-background-clr: #2B384C;